body{
    background-color: rgb(226, 244, 254);
    margin: 15px auto;
    font-family: Arial, Arial, Helvetica, sans-serif;


}
header{

}

#encabezado{
    background-color: #ffffff;  /* Color de fondo */
    color: black;               /* Color del texto */
    text-align: center;
    padding: 30px;              /* Espacio interno alrededor del contenido */
    font-family: Arial, sans-serif;
}
#encabezado p{
    font-size: 20px;
    margin: 0;
    padding: 0;
    margin-right: 35px

}

#contenedor {

    display: flex; /* Esto hace que los hijos se alineen en fila, no usamos inline por que no respeta el ancho no alto. */
    justify-content: space-between; /* Espacio entre los elementos */
}


nav{



    margin: 4px;
    padding: 10px;
    background-color: rgba(20, 13, 6, 0.881);
    border-radius: 10px;
    margin: 15px;


}

ul {
    padding-left: 1px;

}
/* Iluminación en los enlaces del menú */
#menu1 li :hover {
    color: #e29d75; /* Cambia el color del texto */
    background-color: 0px 0px 10px rgba(255, 204, 0, 0.8); /* Agrega un brillo */
    transition: 0.3s ease-in-out;
}



#menu1 li{

    padding: 10px;
    list-style: none;
    margin: 10px;
    list-style: none;
    background-color: rgba(119, 136, 153, 0.16);
    padding: 17px;
    margin: 7px;
    border-radius: 7px;


}




ul a{

   color: white;
   text-decoration: none;



}

/* Iluminación en las cajas de funciones */
#funciones li :hover {
   color: #e29d75;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5); /* Efecto de brillo */
    transition: 0.3s ease-in-out;
}

#funciones{

    background-color: rgba(7, 30, 74, 0.122);
    border-radius: 10px;
    padding-top: 50px;
    display: flex;
    font-size: large;
    padding: 37px;

}




#funciones li{
    display: inline-block;  /*Lo usamos para cajas...?*/
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 25px;
    padding: 90px 70px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #f4f6f9;
    display: flex; /* Convierte los `li` en contenedores flexibles */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */

}






#funciones a{
    text-decoration: none;
    color: #000000;
    margin-top: 10px;
}

aside{
    background-color: rgba(20, 13, 6, 0.881);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    width: 20%;
    text-align: center;
    font-size: 20px;
    color: white;

}

footer {
    background: linear-gradient(to top, rgba(20, 13, 6, 0.651) , rgba(7, 30, 74, 0.122)); /* Degradado de izquierda a derecha */
    color: white; /* Texto en blanco */
    text-align: center; /* Centra el texto */
    padding: 40px 0; /* Espaciado arriba y abajo */
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0;
    width: 100%; /* Ocupa todo el ancho */
}

/*---------------------------------------------------------------------------------------------------------------------*/
/*Estilos de formulario de registro*/

#formularioRegistro{
    background-color: rgba(16, 40, 63, 0.141);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
    text-align: center;
    font-size: 20px;
    color: rgb(1, 7, 22);

    margin-left: 25%;
    margin-right: 25%;

    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(1, 5, 31, 0.304); /* Efecto de brillo */
    transition: 0.3s ease-in-out;

}

#imagenHuella{
    background-color: rgba(255, 255, 255, 0.5);
    padding: 50px;
    width: 40%;
    height: 40%;
    display: block;
    align-items: center;
    margin-left: auto; /*Podemos sentrar un elemento con estos dos*/
    margin-right: auto;
    border-radius: 5px;
    font-size: 15px;



}
.spinner {
    border: 4px solid rgba(0, 0, 0, 0.2);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
#successCheck {
    margin-top: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

/* Oculta el submenú por defecto */
.submenu {
    display: none;
    position: absolute;
    background-color: #000000ab;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0;
    margin: 0;
    list-style: none;
    z-index: 100;
    border-radius: 10px;
    justify-content: center;
}

/* Mostrar el submenú cuando el mouse pasa por "Configuración" */
.config-item:hover .submenu {
    display: block;
}

/* Ajustes opcionales para los ítems del submenú */
.submenu li a {
    display: block;
    padding: 10px 15px;
    color: #eaeaee;
    text-decoration: none; /* Sin subrayado  o viñetas recuerda*/
    border-radius: 10px;

}

.submenu li a:hover {
    background-color: #8a9ea871;
}


/*---------------Estilos de tabla de asistencias registradas*/
        h1{
        text-align:center;
        }

        table {
               margin: 0 auto; /* Centra la tabla en la página */
               text-align: center;
               font-size: 20px;
               color: #000000;
               margin-top: 20px;
               padding: 10px;
               border-radius: 10px;
               box-shadow: 0px 0px 15px rgba(1, 5, 31, 0.304); /* Efecto de sombra*/
               transition: 0.3s ease-in-out;
               width: 100%;
               border-collapse: collapse;
               margin-top: 1rem;
        }
        table tr {
            height: 24px; /* o 20px si quieres más compacto */
        }


        th, td {
            border: 1px solid #ccc;
            text-align: left;
            padding: 4px 8px;
        }

        th {
            background-color: #f2f2f2;
        }

        h1 {
            color: #333;
        }




/* Estilo para los botones de acción */

#paginacion{
    display: flex;
    justify-content: center; /* Centra los botones de paginación */
    margin-top: 20px;


}
#paginacion, span{
    font-size: 7px;
}
#controladorPage{
    background-color: rgba(16, 40, 63, 0.141);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-size: 10px;
    color: rgb(1, 7, 22);

    margin-left: 25%;
    margin-right: 25%;

    padding: 9px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(1, 5, 31, 0.304); /* Efecto de brillo */
    transition: 0.3s ease-in-out;
}

#buscador{
    background-color: rgba(16, 40, 63, 0.141);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-size: 10px;
    color: rgb(1, 7, 22);



    padding: 9px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(1, 5, 31, 0.304); /* Efecto de brillo */
    transition: 0.3s ease-in-out;
}

#buscador input[type="text"] {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgba(1, 5, 31, 0.304); /* Efecto de brillo */
    transition: 0.3s ease-in-out;
}

#buscador,button{
margin: 10px;
}



#botonesAcciones{
    display: flex;
    justify-content: center; /* Centra los botones de paginación */
    margin: 5px;
}
#acciones{
    background-color: rgba(16, 40, 63, 0.141);
    border-radius: 5px;
    margin: 5px;
    text-align: center;
    font-size: 10px;
    color: rgb(1, 7, 22);



    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(1, 5, 31, 0.304); /* Efecto de brillo */
    transition: 0.3s ease-in-out;
}



















