<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SACHI PROYECT!</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>



<body>

<div th:replace="fragments/header :: header"></div>

<div id="contenedor">
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <main>
        <ul id="funciones">
            <li><a th:href="@{/registro}">Registrar Alumnos</a></li>
            <li><a th:href="@{/asistencia/hoy}">Lista de Asistencia</a></li>
            <li><a th:href="@{/usuarios/all}">Mis Usuarios</a></li>
        </ul>
    </main>

    <aside>
        <h3>Estadísticas</h3>
        <canvas id="graficoUsuarios" width="400" height="200"></canvas>

    </aside>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
